<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick News</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./assets/favicon.ico" />
</head>
<body class="body">
    <header>
       <img src="./assets/logo.png" alt="Logo" class="logo" id="logo">
       <img onclick="getHome()" src="./assets/home.png" alt="Logo" class="button" id="home">
       <img onclick="getFlow()" src="./assets/flow.png" alt="Logo" class="button" id="flow">
       <img onclick="getReading()" src="./assets/settings.png" alt="Logo" class="button" id="read">
       <img onclick="getEdit()" src="./assets/edit.png" alt="Logo" class="button" id="edit">
       <img onclick="getAccount()" src="./assets/account.svg" alt="Logo" class="button" id="account">
       <img onclick="getAdmin()" src="./assets/admin.png" alt="Logo" class="button" id="admin">
       <div class="selector"></div>
    </header>
    <!-- -------------------------------------------- -->
    <section class="blur"></section>
    <section class="introduction">
        <img src="./assets/qn.svg" alt="Logo" class="intro-img">
        <div class="card">
            <h3 class="intro-text"></h3>
            <div class="loading-bar">
                <div class="loader"></div>
            </div>
            <h4 class="infos-prog">Awaiting Javascript</h4>
        </div>
    </section>


    <!-- -------------------------------------------- -->
        <div id="signup-popup" class="log">
            <input type="text" id="pseudo" placeholder="Username">
            <input type="text" id="avatar" placeholder="Avatar Url">
            <input type="password" id="password" placeholder="Password">
            <button id="signup">Sign Up</button>
            <button class="cancel" style="background-color: transparent; border: 1px solid #4a4a4a; color: black;" >Cancel</button>
        </div>
        <div id="signin-popup" class="log">
            <input type="text" id="pseudo-s" placeholder="Username">
            <input type="password" id="password-s" placeholder="Password">
            <button id="signin" type="button" onclick="this.classList.add('button--loading')">
                <span class="button__text">Sign In</span>
            </button>
            <button class="cancel" style="background-color: transparent; border: 1px solid #4a4a4a; color: black;" >Cancel</button>
        </div> 
    <!-- -------------------------------------------- -->

    <section class="section home">
        <section class="home-main">
            <div class="home-head">
                <input type="text" class="search" placeholder="Search">
                <div>
                    <img src="./assets/favoris.png" alt="Logo" id="favoris" class="icos">
                    <img src="./assets/notification.png" alt="Logo" id="notifs" class="icos">
                </div>
            </div>
            <div style="width: 100%;" class="divider"></div>
            <h1 class="home-title">Article Of The Day</h1>
            <div class="home-otd"> 
                <div class="home-summup">
                    <h1 class="summup-title">How to become a super 3d artist by yourself</h1>
                    <p class="summup-desc">Calling out for your 3d artist who wanna be a super standout in the market, read this article !</p>
                    <button class="summup-more">Read More</button> 
                </div>
                <img src="./assets/abstract.jpg" alt="Logo" class="home-img">
            </div>
            <div class="rowinfos">
                <h1 class="home-title">Most recent articles</h1>
                <button onclick="getFlow()" class="home-more">See More</button>
            </div>
            <div class="topics">
                <div class="topic">Health</div>
                <div class="topic">Economy</div>
                <div class="topic">Tech</div>
                <div class="topic">Design</div>
                <div class="topic">Food</div>
                <div class="topic">Politics</div>
                <div class="topic">Event</div>
                <div class="topic">Travel</div>
            </div>
            <div class="articles">
            </div>
        </section>
        <section class="infos">
            <div class="buttons-log">
                <button id="signin-button" class="sign">Sign In</button>
                <button id="signup-button" style="color: #000000; border: 1px solid #000000; background: transparent; width: 35%;" class="sign">SignUp</button>
            </div>
            <div class="user-infos">
                <img src="./assets/default.png" alt="Logo" class="user-img">
                <h1 id="user-name">User</h1>
            </div>
            <div class="premium">
                <img src="./assets/premium.png" alt="Logo" class="premium-img">
                <h1 class="premium-title">Get premium and unlock amazing perks</h1>
                <p class="premium-desc">Being a premium member help us to provide the best experience</p>
                <button class="premium-button">Get Premium</button>
            </div>
            <div style="margin-top: 32px; width: 90%;" class="divider"></div>
        </section>
    </section>

    <!-- -------------------------------------------- -->

    <section class="section flow">
        <div class="home-head">
            <input style="width: 80%;" type="text" class="search" placeholder="Search">
        </div>
            <div class="topics-flow">
                <div id="current" class="topic">Health</div>
                <div class="topic">Economy</div>
                <div class="topic">Tech</div>
                <div class="topic">Design</div>
                <div class="topic">Food</div>
                <div class="topic">Politics</div>
                <div class="topic">Event</div>
                <div class="topic">Travel</div>
            </div>
        </div>
        <div class="articles-flow">
            <div class="flow-art-main art-load">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
        </div>
    </section>
    
    <!-- -------------------------------------------- -->

    <section class="section read">
        <section class="art-main">
            <div class="no-article">
                <img src="./assets/no.svg"Logo" class="no-article-img">
                <h3 class="infos-na">Please make sure to select an article</h3>
            </div>
            <div id="centered">
                <div class="loading-bar">
                    <div class="loader"></div>
                </div>
            </div>
        </section>
        <section class="more-art">
            <div class="for-you">
            </div>
            <div class="divider"></div>
            <h1 style="font-weight: 600;" class="more-title">More Interesting Topic</h1>
            <div class="topics">
                <div class="topic">Health</div>
                <div class="topic">Economy</div>
                <div class="topic">Tech</div>
                <div class="topic">Design</div>
            </div>
            <div class="ad"></div>
        </section>
    </section>

    <!-- -------------------------------------------- -->

    <section class="section edit">
        <h1 data-max-length="10" class="edit-title">Article Editor V1</h1>
        <input maxlength="200" minlength="10" type="text" class="edit-title-input" placeholder="Article title here">
        <textarea maxlength="85" minlength="10" class="edit-textarea" placeholder="Article description here"></textarea>
        <input id="preview" maxlength="500" minlength="6" type="text" class="edit-title-input" placeholder="Thumbmail, url.png/jpg">
        <div class="topics">
            <div id="selected" class="topic current health">Health</div>
            <div class="topic">Economy</div>
            <div class="topic">Tech</div>
            <div class="topic">Design</div>
            <div class="topic">Food</div>
            <div class="topic">Politics</div>
            <div class="topic">Event</div>
            <div class="topic">Travel</div>
        </div>
        <div class="buttons-collumn">
                <button id="RTS" type="button" class="edit-publish" onclick="this.classList.add('button--loading')">
                    <img class="button-icon button__text"src="./assets/publish.png">
                    <span class="button__text">Publish</span>
                </button>
                <button class="edit-ai"><img class="button-icon" src="./assets/star.png">Ai Enhance</button>
            </div>
        <button onclick="toggleMenu()" class="edit-new">Add a new element</button>
        <ul class="edit-elements close">
            <li id="paragraph" class="element paragraph">
                <img src="./assets/paragraph.png" class="icon-element">
                <p class="element-infos">Paragraph<br><span class="element-desc">Add paragraph where you can add up to 2000 caracters</span></p>
            </li>
            <li id="h1" class="element h1">
                <img src="./assets/h1.png" class="icon-element">
                <p class="element-infos">H1<br><span class="element-desc">Display a big title</span></p>
            </li>
            <li id="h2" class="element h2">
                <img src="./assets/h2.png" class="icon-element">
                <p class="element-infos">H2<br><span class="element-desc">Display a medium title</span></p>
            </li>
            <li id="h3" class="element h3">
                <img src="./assets/h3.png" class="icon-element">
                <p class="element-infos">H3<br><span class="element-desc">Display a little title</span></p>
            </li>
            <li id="quote" class="element quote">
                <img src="./assets/quote.png" class="icon-element">
                <p class="element-infos">Quote<br><span class="element-desc">Make your quote in a special font with a little indentation</span></p>
            </li>
            <li id="callout" class="element callout">
                <img src="./assets/callout.png" class="icon-element">
                <p class="element-infos">Callout<br><span class="element-desc">Display a customisable box to enter important informations</span></p>
            </li>
            <li id="image" class="element image">
                <img src="./assets/image.png" class="icon-element">
                <p class="element-infos">Image<br><span class="element-desc">Add an image to your article wich can be resized</span></p>
            </li>
            <li id="youtube" class="element youtube">
                <img src="./assets/youtube.png" class="icon-element">
                <p class="element-infos">Youtube<br><span class="element-desc">Embed a youtube video</span></p>
            </li>
        </ul>
        <ul class="art-content full contain-main">
        </ul>
    </section>

    <!-- -------------------------------------------- -->

    <section class="section account">
        <div class="containerAcc">
            <div class="profile">
                <div class="gradient"></div>
                <div class="profile-img">
                    <img src="./assets/default.png" id="profile-image" class="profile-img">
                </div>
                <div class="infos-container">
                    <h3 class="profile-username">Jarred Bena</h3>
                    <h4 class="profil-username-infos">User @jarredbena</h4>
                    <div class="profil-options">
                        <button>Share profil<img src="./assets/share.svg"></button>
                        <button>Edit profil<img src="./assets/profil-edit.svg"></button>
                        <button>Switch to business<img src="./assets/business.svg"></button>
                        <button onclick="deleteUser()" id="delete">Delete profile<img src="./assets/delete.svg"></button>
                    </div>
                </div>
            </div>
            <div class="stats">
                <div id="stats" class="gradient"></div>
            </div>
            <div class="profile-articles">
                <div id="center" class="loading-bar"><div class="loader"></div></div></div>
            </div>
        </div>
    </section>
</body>
<script src="script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io();
</script>
</html>