<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick News</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./assets/favicon.ico" />
</head>
<body class="body">
    <header>
       <img src="./assets/logo.png" alt="Logo" class="logo" id="logo">
       <img onclick="getHome()" src="./assets/home.png" alt="Logo" class="button" id="home">
       <img onclick="getFlow()" src="./assets/flow.png" alt="Logo" class="button" id="flow">
       <img onclick="getReading()" src="./assets/settings.png" alt="Logo" class="button" id="read">
       <img onclick="getEdit()" src="./assets/edit.png" alt="Logo" class="button" id="edit">
       <div class="selector"></div>
    </header>

    <!-- -------------------------------------------- -->
    <div class="container-log">
        <div class="signup">
            <input type="text" id="pseudo" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <button id="signup">Sign Up</button>
        </div>
        <div class="signin">
            <input type="text" id="pseudo-s" placeholder="Username">
            <input type="password" id="password-s" placeholder="Password">
            <button id="signin">Sign In</button>
        </div>
    </div>  
    <!-- -------------------------------------------- -->

    <section class="section home">
        <section class="home-main">
            <div class="home-head">
                <input type="text" class="search" placeholder="Search">
                <div>
                    <img src="./assets/favoris.png" alt="Logo" id="favoris" class="icos">
                    <img src="./assets/notification.png" alt="Logo" id="notifs" class="icos">
                </div>
            </div>
            <div style="width: 100%;" class="divider"></div>
            <h1 class="home-title">Article Of The Day</h1>
            <div class="home-otd"> 
                <div class="home-summup">
                    <h1 class="summup-title">How to become a super 3d artist by yourself</h1>
                    <p class="summup-desc">Calling out for your 3d artist who wanna be a super standout in the market, read this article !</p>
                    <button class="summup-more">Read More</button> 
                </div>
                <img src="./assets/summup.jpg" alt="Logo" class="home-img">
            </div>
            <div class="rowinfos">
                <h1 class="home-title">Most recent articles</h1>
                <button onclick="getFlow()" class="home-more">See More</button>
            </div>
            <div class="topics">
                <div id="current" class="topic">Tech</div>
                <div class="topic">Health</div>
                <div class="topic">Productivity</div>
                <div class="topic">Design</div>
                <div class="topic">Art</div>
                <div class="topic">Business</div>
                <div class="topic">Marketing</div>
                <div class="topic">Education</div>
            </div>
            <div class="articles">
                <div onclick="getReading()" class="home-art-main">
                    <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                    <h1 class="home-art-title">Fake News & Lateral Reading</h1>
                    <p class="home-art-desc">It's important to be able to distinguish between credible sources and fake news.</p>
                </div>
                <div class="home-art-main">
                    <img src="./assets/abstract2.jpg"Logo" class="home-art-img">
                    <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                    <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
                </div>
                <div id="third" class="home-art-main">
                    <img src="./assets/abstract3.png"Logo" class="home-art-img">
                    <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                    <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
                </div>
            </div>
        </section>
        <section class="infos">
            <div class="buttons-log">
                <button class="sign">Sign In</button>
                <button style="color: #000000; border: 1px solid #000000; background: transparent; width: 35%;" class="sign">SignUp</button>
            </div>
            <div class="user-infos">
                <img src="./assets/default.png" alt="Logo" class="user-img">
                <h1 id="user-name">User</h1>
            </div>
            <div class="premium">
                <img src="./assets/premium.png" alt="Logo" class="premium-img">
                <h1 class="premium-title">Get premium and unlock amazing perks</h1>
                <p class="premium-desc">Being a premium member help us to provide the best experience</p>
                <button class="premium-button">Get Premium</button>
            </div>
            <div style="margin-top: 32px; width: 90%;" class="divider"></div>
        </section>
    </section>

    <!-- -------------------------------------------- -->

    <section class="section flow">
        <div class="home-head">
            <input style="width: 80%;" type="text" class="search" placeholder="Search">
        </div>
        <div class="topics-flow">
            <div class="topic">Tech</div>
            <div class="topic">Health</div>
            <div class="topic">Productivity</div>
            <div class="topic">Design</div>
        </div>
        <div class="articles-flow">
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
            <div class="flow-art-main">
                <img src="./assets/abstract.jpg"Logo" class="home-art-img">
                <h1 class="home-art-title">Why you beed AI Robot for Your Office And how it works </h1>
                <p class="home-art-desc">In this article, we’ll learn about how to discuss about robot and future work</p>
            </div>
        </div>
    </section>
    
    <!-- -------------------------------------------- -->

    <section class="section read">
        <section class="art-main">
            <h1 class="art-title">Fake News & Lateral Reading</h1>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/A9dPF51tRkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="art-text">It is likely that the video of the snowboarder being chased by a bear is a hoax. Brown bears do not live in Japan, and the audio of fake growls added to the video further suggests that the video is not genuine. Additionally, the fact that the bear appears to be split in half and part of the image is missing indicates that the video has been edited or manipulated in some way. It is always important to be skeptical of videos and other information that we encounter online, and to verify their authenticity before believing or sharing them.</p>
            <div class="art-callout"></div>
            <p class="art-text">Lateral reading is a term that refers to the process of gathering information about a particular topic by looking at a variety of sources, rather than relying on just one source. This approach allows you to get a more well-rounded view of the topic at hand, and can help you to better understand the issue from different perspectives. By looking at multiple sources, you can also compare and contrast different viewpoints, which can help you to develop your own informed opinion on the topic. Lateral reading is an important skill for anyone who wants to gain a deeper understanding of a particular subject.</p>
        </section>
        <section class="more-art">
            <div class="more-main">
                <img src="./assets/more1.png"Logo" class="more-img">
                <h1 class="more-title">Why you need AI Robot for Your Office And how it works </h1>
                <p class="more-desc">In this article, we’ll learn about how to discuss to a robot and work with him</p>
            </div>
            <div class="more-main">
                <img src="./assets/more2.png"Logo" class="more-img">
                <h1 class="more-title">Practice Lateral Reading for Deeper Understanding</h1>
                <p class="more-desc">This article offers practical tips and strategies for practicing lateral reading.</p>
            </div>
            <div class="divider"></div>
            <h1 style="font-weight: 600;" class="more-title">More Interesting Topic</h1>
            <div class="topics">
                <div class="topic">Tech</div>
                <div class="topic">Health</div>
                <div class="topic">Productivity</div>
                <div class="topic">Design</div>
            </div>
            <div class="ad"></div>
        </section>
    </section>

    <!-- -------------------------------------------- -->

    <section class="section edit">
        <h1 data-max-length="10" class="edit-title">Article Editor V1</h1>
        <input maxlength="250" minlength="10" type="text" class="edit-title-input" placeholder="Article title here">
        <textarea maxlength="2000" minlength="10" class="edit-textarea" placeholder="Article description here"></textarea>
        <div class="buttons-collumn">
                <button onclick="localcheck()" class="edit-publish"><img class="button-icon" src="./assets/publish.png">Publish</button>
                <button class="edit-ai"><img class="button-icon" src="./assets/star.png">Ai Enhance</button>
            </div>
        <button onclick="toggleMenu()" class="edit-new">Add a new element</button>
        <ul class="edit-elements close">
            <li id="paragraph" class="element paragraph">
                <img src="./assets/paragraph.png" class="icon-element">
                <p class="element-infos">Paragraph<br><span class="element-desc">Add paragraph where you can add up to 2000 caracters</span></p>
            </li>
            <li id="h1" class="element h1">
                <img src="./assets/h1.png" class="icon-element">
                <p class="element-infos">H1<br><span class="element-desc">Display a big title</span></p>
            </li>
            <li id="h2" class="element h2">
                <img src="./assets/h2.png" class="icon-element">
                <p class="element-infos">H2<br><span class="element-desc">Display a medium title</span></p>
            </li>
            <li id="h3" class="element h3">
                <img src="./assets/h3.png" class="icon-element">
                <p class="element-infos">H3<br><span class="element-desc">Display a little title</span></p>
            </li>
            <li id="quote" class="element quote">
                <img src="./assets/quote.png" class="icon-element">
                <p class="element-infos">Quote<br><span class="element-desc">Make your quote in a special font with a little indentation</span></p>
            </li>
            <li id="callout" class="element callout">
                <img src="./assets/callout.png" class="icon-element">
                <p class="element-infos">Callout<br><span class="element-desc">Display a customisable box to enter important informations</span></p>
            </li>
            <li id="image" class="element image">
                <img src="./assets/image.png" class="icon-element">
                <p class="element-infos">Image<br><span class="element-desc">Add an image to your article wich can be resized</span></p>
            </li>
        </ul>
        <div class="art-content full">
            
        </div>
    </section>
</body>
<script src="script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('song', (data) => {
    console.log(data);
    var audio = new Audio(`./assets/${data}.m4a`);
    audio.play();
  });

  socket.on('message', (data) => {
    document.getElementById('notif').innerHTML = data;
    document.getElementById('notif').classList.add('activenotif');
    setTimeout(() => {
      document.getElementById('notif').classList.remove('activenotif');
    }, 5000);
  });

  socket.on('spin' , (data) => {
    document.querySelector('.body').classList.add('spin');
    setTimeout(() => {
      document.querySelector('.body').classList.remove('spin');
    }, 5000);
  });

socket.on('ad', (data) => {
    console.log(data);
  document.querySelector('.ad').style.backgroundImage = `url(${data})`;
});
</script>
</html>