<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column;">
    <button onclick="song('troll')">Ronflement fort</button>
    <input type="text" id="song" placeholder="Message"></input>
    <button onclick="message(document.getElementById('song').value)">Envoyer</button>
    <button onclick="spin()">CA TOURNEEEE</button>
    <input type="text" id="ad" placeholder="Changer pub (image)"></input>
    <button onclick="ad(document.getElementById('ad').value)">Envoyer la pub</button>
</body>
<script>

    function message(data) {

        fetch('http://localhost:3000/remote/m', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                message: data
            })
        })
    }


    function song(data) {

        fetch('http://localhost:3000/remote', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                song: data
            })
        })
    }

function spin() {
    fetch('http://localhost:3000/remote/s', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        },
    })
}

function ad(data) {
    fetch('http://localhost:3000/remote/ad', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            ad: data
        })
    })
}
</script>
<style>
    button {
        height: 100px;
        margin: 10px;
    }
</style>
</html>